/*colors*/
/*text*/
/*margin padding*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav-1, .nav-1__menu, .hero, .hero__container, .hero__section-1, .hero__section-1 ul, .hero__section-1 ul li > a, .hero__section-2, .hero__section-2 .arrow-btn, form, form .form-icon, .card__container, .card__body--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-1__logo, .nav-1__menu li > a, .hero__section-1 ul li > a i, .hero__section-1 #service-id li, .hero__section-2 .arrow-btn i, form .form-icon i, form input, form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, .card__body--one {
  color: #FCFBFC;
}

.nav-1__logo, .nav-1__menu li > a, .hero__section-1 ul li > a i, .hero__section-1 #service-id li, .hero__section-2 .arrow-btn i, form .form-icon i, form input, form input:-ms-input-placeholder, form textarea:-ms-input-placeholder, .card__body--one {
  color: #FCFBFC;
}

.nav-1__logo, .nav-1__menu li > a, .hero__section-1 ul li > a i, .hero__section-1 #service-id li, .hero__section-2 .arrow-btn i, form .form-icon i, form input, form input::-ms-input-placeholder, form textarea::-ms-input-placeholder, .card__body--one {
  color: #FCFBFC;
}

.nav-1__logo, .nav-1__menu li > a, .hero__section-1 ul li > a i, .hero__section-1 #service-id li, .hero__section-2 .arrow-btn i, form .form-icon i, form input, form input::placeholder, form textarea::placeholder, .card__body--one {
  color: #FCFBFC;
}

@media (min-width: 1025px) {
  .container__adapted, .nav-1, .hero__container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
  }
}

/*Global*/
* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/*paddings*/
.p-auto {
  padding: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.pt-auto {
  padding-top: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pl-auto {
  padding-left: auto;
}

.pr-auto {
  padding-right: auto;
}

.p-1 {
  padding: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.p-2 {
  padding: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-2 {
  padding-top: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.p-3 {
  padding: 15px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pt-3 {
  padding-top: 15px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.pr-3 {
  padding-right: 15px;
}

.p-4 {
  padding: 20px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-4 {
  padding-top: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.pr-4 {
  padding-right: 20px;
}

/*backgrounds*/
.bg-primary {
  background: #411388;
}

.bg-secondary {
  background: #d45500;
}

.bg-tertiary {
  background: #9964e9;
}

.bg-light {
  background: #FCFBFC;
}

.bg-dark {
  background: #1B1B1B;
}

.bg-gradient {
  background: -webkit-gradient(linear, right top, left bottom, from(#411388), to(#9964e9));
  background: -webkit-linear-gradient(right top, #411388, #9964e9);
  background: -o-linear-gradient(right top, #411388, #9964e9);
  background: linear-gradient(to left bottom, #411388, #9964e9);
}

.container__adapted {
  position: relative;
}

/*text*/
.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.fs-4 {
  font-size: 16px;
}

.fs-5 {
  font-size: 14px;
}

.fw-bold {
  font-weight: bold;
}

.fw-900 {
  font-weight: 900;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-300 {
  font-weight: 300;
}

.fw-100 {
  font-weight: 100;
}

.nav-1 {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

@media (min-width: 1025px) {
  .nav-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-1__menu {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1025px) {
  .nav-1__menu {
    width: 30%;
  }
}

.nav-1__menu li > a:after {
  content: "";
  margin: 7px 0 0 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FCFBFC;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.nav-1__menu li > a:hover:after {
  opacity: 1;
}

.hero {
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, right top, left bottom, from(#411388), to(#9964e9));
  background: -webkit-linear-gradient(right top, #411388, #9964e9);
  background: -o-linear-gradient(right top, #411388, #9964e9);
  background: linear-gradient(to left bottom, #411388, #9964e9);
}

.hero__container {
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 94.2vh;
  }
}

.hero__section-1 {
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

@media (min-width: 1025px) {
  .hero__section-1 {
    height: 100%;
    gap: 7em;
  }
}

.hero__section-1 img {
  max-width: 75%;
  -webkit-animation: logo-appear .5s ease backwards;
          animation: logo-appear .5s ease backwards;
}

@media (min-width: 1025px) {
  .hero__section-1 img {
    max-width: 50%;
  }
}

.hero__section-1 ul {
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1025px) {
  .hero__section-1 ul {
    width: 60%;
  }
}

.hero__section-1 ul li:nth-child(1) {
  -webkit-animation: appear-1 .5s ease .8s backwards;
          animation: appear-1 .5s ease .8s backwards;
}

.hero__section-1 ul li:nth-child(2) {
  -webkit-animation: appear-1 .5s ease 1s backwards;
          animation: appear-1 .5s ease 1s backwards;
}

.hero__section-1 ul li:nth-child(3) {
  -webkit-animation: appear-1 .5s ease 1.2s backwards;
          animation: appear-1 .5s ease 1.2s backwards;
}

.hero__section-1 ul li > a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94px;
  height: 94px;
  border: solid 3px #FCFBFC;
  border-radius: 50%;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.hero__section-1 ul li > a i {
  font-size: 50px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.hero__section-1 ul li > a:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.hero__section-1 #service-id {
  margin-left: -16px;
}

@media (min-width: 1025px) {
  .hero__section-1 #service-id {
    margin-top: -5em;
    margin-left: -16px;
  }
}

.hero__section-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .hero__section-2 {
    height: 100%;
  }
}

.hero__section-2 .arrow-btn {
  height: 50px;
  width: 50px;
  border: solid 3px #FCFBFC;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-animation: zoom .5s ease 1.8s backwards;
          animation: zoom .5s ease 1.8s backwards;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media (min-width: 1025px) {
  .hero__section-2 .arrow-btn {
    margin-top: 3em;
  }
}

.hero__section-2 .arrow-btn i {
  font-size: 30px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.hero__section-2 .arrow-btn:hover {
  border: solid 3px #411388;
}

.hero__section-2 .arrow-btn:hover i {
  -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
          transform: translateY(45px);
}

.part__services {
  height: auto;
  position: relative;
  padding: 20px 0;
}

@media (min-width: 1025px) {
  .part__services {
    height: 100vh;
    padding: 0;
  }
}

@media (min-width: 1450px) {
  .part__services {
    height: 50vh;
  }
}

.part__introduction {
  height: auto;
}

@media (min-width: 1025px) {
  .part__introduction {
    height: 100vh;
    padding: 0;
  }
}

@media (min-width: 1450px) {
  .part__introduction {
    height: 50vh;
  }
}

@-webkit-keyframes logo-appear {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes logo-appear {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes appear-1 {
  0% {
    -webkit-transform: translatey(-300%);
            transform: translatey(-300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}

@keyframes appear-1 {
  0% {
    -webkit-transform: translatey(-300%);
            transform: translatey(-300%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0);
            transform: translatey(0);
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

form .form-icon {
  height: 40px;
  width: 40px;
  border: solid 3px #FCFBFC;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .form-icon i {
  font-size: 24px;
}

form input {
  width: 83%;
  height: 40px;
  background: transparent;
  border: solid 2px #FCFBFC;
  border-radius: 30px;
  color: #FCFBFC;
  padding-left: 10px;
  padding-right: 10px;
}

form input:focus-visible {
  background-color: transparent;
  outline: 4px solid #b691f0;
  border: transparent 2px #FCFBFC;
}

form textarea {
  width: 83%;
  height: 100px;
  background: transparent;
  border: solid 3px #FCFBFC;
  padding: 10px;
  color: #FCFBFC;
  border-radius: 20px;
}

form textarea:focus-visible {
  background-color: transparent;
  outline: 4px solid #b691f0;
  border: transparent 2px #FCFBFC;
}

form .btn-submit {
  cursor: pointer;
  background: #FCFBFC;
  color: #411388;
  height: 45px;
  width: 150px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 600;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

form .btn-submit:hover {
  color: #FCFBFC;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: #411388;
}

#checkOption {
  width: 100%;
}

#checkOption input[type="radio"] {
  width: 20px;
  margin: 0 10px 0 9px;
}

input[type="radio"]:checked {
  color: #411388;
}

.formData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FCFBFC;
}

#message-option {
  text-align: center;
}

#modal_form {
  width: 300px;
  background: #651ed4;
  border-radius: 20px;
  min-height: 400px;
  overflow: hidden;
  -webkit-animation: appear-1 .5s ease 1.4s backwards;
          animation: appear-1 .5s ease 1.4s backwards;
  -webkit-box-shadow: 8px 10px 28px 1px #411388;
          box-shadow: 8px 10px 28px 1px #411388;
}

.message_valid {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 3em;
  color: #FCFBFC;
  -webkit-animation: appear-1 .5s ease 0s backwards;
          animation: appear-1 .5s ease 0s backwards;
}

.message_valid h3 {
  text-align: center;
}

.message_valid i {
  font-size: 2vw;
}

.valid {
  color: green;
  font-size: 12px;
}

.invalid {
  color: #d45500;
  font-size: 12px;
}

.card__container {
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__figure {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 337px;
  height: 460px;
  background: #651ed4;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.card__figure:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 1025px) {
  .card__figure {
    margin: 0;
  }
}

@media (min-width: 1450px) {
  .card__figure {
    width: 20%;
  }
}

.card__body--one {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.card__body--one li {
  margin-bottom: 5px;
}

.card__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
  width: 100%;
}

@media (min-width: 1025px) {
  .card__image {
    height: 60%;
  }
}

.card__icon--desktop {
  display: none;
}

@media (min-width: 1025px) {
  .card__icon--desktop {
    display: block;
    font-size: 30px;
  }
}

.card__icon--tablet {
  display: block;
  font-size: 30px;
}

@media (min-width: 1025px) {
  .card__icon--tablet {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */