.card {
    &__container {
        height: 100%;
        @extend %flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    &__figure {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 337px;
        height: 460px;
        background: lighten($primary, 17%);
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.08);
        transition: all .5s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        @include desktop {
            margin: 0;
        }
        @include big-screen {
            width: 20%;
        }
    }
    &__body {
        &--one {
            position: absolute;
            width: 100%;
            height: 100%;
            @extend %flex;
            flex-direction: column;
            align-items: center;
            @extend %text-white;
            gap: 1em;
            li {
                margin-bottom: 5px;
            }
        }
    }
    &__image {
        object-fit: cover;
        height: 50%;
        width: 100%;
        @include desktop {
            height: 60%;
        }
    }
    &__icon {
        &--desktop {
            display: none;
            @include desktop {
                display: block;
                font-size: 30px;
            }
        }
        &--tablet {
            display: block;
            font-size: 30px;
            @include desktop {
                display: none;
            }
        }
    }
}